{% extends "base.html" %}
{% block title %}
    500
{% endblock %}
{% block content %}
	<div class="content" align="center">
		<div class="content-heading">
			<div class="container">
				<h1 class="heading">500</h1>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10">
					<section class="content-inner">
						<p>内部服务器错误</p>
						<p>Internal server error</p>
						<p>サーバ内部エラー</p>
						<p>Унутраная памылка сервера</p>
						<p>Erreur interne du serveur</p>
						<p>Interner Serverfehler</p>
						<p>Error interno del servidor</p>
						<p>Erro do servidor interno</p>
					</section>
				</div>
			</div>
		</div>
	</div>
{% endblock %}